#visual {
	width: 100%;
	height: 90vh;
	background: #333;

	.inner {
		width: 1180px;
		position: relative;
		video {
			position: absolute;
			top: 90px;
			left: 450px;
			width: 65%;
			height: 70vh;
			opacity: 1;
			z-index: 5;
			margin: 0 auto;
			object-fit: cover;
		}
		.since {
			position: absolute;
			font: bold 12px/1 "arial";
			color: orange;
			top: 145px;
			left: 250px;
		}
		h1 {
			position: absolute;
			top: 170px;
			left: 250px;
			font: bold 70px/1 "Grape Nuts", cursive;
			color: #fff;
			z-index: 7;
			&::after {
				position: absolute;
				content: "";
				display: block;
				width: 450px;
				height: 2px;
				background: burlywood;
				margin-top: 10px;
				z-index: 15;
				top: 98px;
				left: 238px;
			}
		}

		a {
			text-align: center;
			padding-top: 8px;
			font: bold 20px/1 "arial";
			color: #fff;
			transform: skewX(0deg);
			position: absolute;
			&::after {
				display: block;
				height: 40px;
				width: 250px;
				top: 335px;
				left: 324px;
				background-color: burlywood;
				transform: skewX(315deg);
				z-index: 7;
			}
		}

		.scrd {
			font: bold 12px/1 "arial";
			color: orange;
			position: absolute;
			top: 481px;
			left: 295px;
			transform: rotate(270deg);
			z-index: 4;
		}
		.bbox {
			position: absolute;
			width: 1180px;
			height: 200px;
			background: #000;
			z-index: 3;
			top: 478px;
			left: 38px;
		}
	}
}
